body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Helvetica Neue',
    sans-serif;
  line-height: 1.5;
  /* https://modern-fluid-typography.vercel.app */
  font-size: clamp(1rem, 0.5vw + 1rem, 1.6rem);
  transition: color 0.3s, background-color 0.3s;
  background: var(--bodyBg);
  color: var(--textColor);
}
* {
  /* when scrolling elements into view, add margin above so they don't end up hidden by header */
  scroll-margin-top: 80px;
}
#svelte {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  hyphens: auto;
  width: 100vw;
  flex: 1;
}
main :where(h1, h2, h3, h4, h5, h6) {
  text-align: center;
  hyphens: none;
  margin-top: 1.6em;
}
main img {
  width: 100%;
}
a {
  color: var(--linkColor);
  text-decoration: none;
}
a:hover {
  color: var(--hoverColor);
}
button {
  background: transparent;
  font-size: 1em;
  border: none;
  cursor: pointer;
}
blockquote {
  border-left: 3pt solid var(--linkColor);
  padding-left: 1em;
  margin: 1ex;
  background: var(--lightBg);
}
.grid {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(7em, 1fr));
  text-align: center;
}
/* increase column width to use available space if not all columns filled */
.grid.fit {
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
}
.grid img {
  object-fit: cover;
}
.grid.tall-img-beside-2 p {
  margin: 0;
}
.grid.tall-img-beside-2 > *:first-child {
  grid-row: span 2;
  grid-column: 1;
}
.grid.tall-img-beside-2 > *:last-child {
  grid-row: 2;
  grid-column: 2;
}
/* captions */
p > :is(picture + em, a + em) {
  text-align: center;
  display: block;
}

/* heading links inserted by custom heading renderer in src/utils/marked.js */
:where(h2, h3, h4, h5, h6) a[aria-hidden='true'] {
  margin-left: 4pt;
  opacity: 0;
  transition: opacity 0.3s;
}
:where(h2, h3, h4, h5, h6):hover a[aria-hidden='true'] {
  opacity: 1;
}

table td {
  padding: 0 1em 0 0;
}
